<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/mystyle.css">
	<link rel="stylesheet" type="text/css" href="/assets/mymenu.css">
	<title>Front Page</title>


</head>
<body style="background-color:#afeeee">
	
	<div id="container">
        <img class="tree" src="unnamed.jpg" alt="error" height="70px" width="50px">
        <h2>LIBRARY</h2>
        <div id="head">
            <span style="--i:1;"><b>A</b></span>
            <span style="--i:1;"><b>Place</b></span>
            <span style="--i:1;"><b>To Grow</b></span>
        </div>
    </div>
    <hr style="width: 50%;text-align: left;margin-left: 0px; background-color: rgb(20, 20, 228); height:0.75px">
    <div class="header">
        <nav><a href="/admin"><img src="administrator-icon.png" alt="cannot display" border="1" height="60px" width="60px" class="rotateimg";>
        <figcaption><strong>Admin</strong></figcaption>
        </a></nav>
    </div> 
    <div id="menu">
        <ul>
            <img style="float: left;" src="https://image.flaticon.com/icons/svg/61/61205.svg" alt="cannot display" height="32px" width="32px">
            <li><a href="/myaccount">My account</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Contact</a>   </li>
            <li><a href="#">Help</a> </li>
            <a href="/cart"><img href="/cart" style="float:right" src="cart.jpg" alt="cannot display" height="32px" width="32px"></a>
        </ul>
    </div>
    <div id="sidebar">
        <ul>
            <li><a href="#" style="color:black">research it</a></li>
            <li><a href="#" style="color:black">useful websites</a></li>
            <li><a href="#" style="color:black">history</a></li>
            <li><a href="#" style="color:black">programs and services</a></li>
            <li><a href="#" style="color:black">about the library</a></li>
            <li><a href="#" style="color:black">ask us</a></li>
        </ul>
    </div> 

    <div id="mainbody">

        <div class="dsa"> 
        <nav><a href="/dsa">
            <img src="dsa.jpg" alt="cannot display" height="100px" width="150px" style="border-radius: 15px">
            <center><figcaption><strong>DSA</strong></figcaption></center>
        </a></nav>
        </div>

        <div id="os"> 
        <nav><a href="/os">
            
            <img src="os.jpg" alt="cannot display" height="100px" width="150px" style="border-radius: 15px">
            <center><figcaption><strong>OS</strong></figcaption></center>
        </a></nav>
        </div>

        <div id="dbs"> 
        <nav><a href="/dbs">
            
            <img src="dbs.jpg" alt="cannot display" height="100px" width="150px" style="border-radius: 15px">
            <center><figcaption><strong>DBS</strong></figcaption></center>
        </a></nav>
        </div>

        <div id="ccn"> 
        <nav><a href="/ccn">
            
            <img src="ccn.png" alt="cannot display" height="100px" width="150px" style="border-radius: 15px">
            <center><figcaption><strong>CCN</strong></figcaption></center>
        </a></nav>
        </div>

        <div id="wta"> 
        <nav><a href="/wta">
            <img src="wta.png" alt="cannot display" height="100px" width="150px" style="border-radius: 15px">
            <center><figcaption><strong>WTA</strong></figcaption></center>
        </a></nav>
        </div>

        <div id="acd"> 
        <nav><a href="/acd">
            
            <img src="acd.png" alt="cannot display" height="100px" width="150px" style="border-radius: 15px">
            <center><figcaption><strong>ACD</strong></figcaption></center>
        </a></nav>
        </div>

    </div>
    <div id="footer">
        <img style="border-radius: 7px 7px 7px 7px" src="lib.jpg" alt="cannot display" height="300px" width="200px">
    </div>

    <form action='/book' method="POST">
    <div class="wrap">
        <div class="search">
           <input class="searchTerm" type="text" name="searchopt" required>
           <a href="/book"><input type="submit" value="Submit" class="searchButton" style="color:transparent"></a>
          </button>
        </div>
     </div>
    </form>
    
    <form action='/logout' method="POST">
           <a href="/"><input type="submit" value="Logout" style="position: absolute;right:0;top:0"></a>
    </form>

</body>
</html>
